<html lang="en">
    <head>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="100576974345044914648.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
<body class="{{home-template}}">
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>
